[program:{{item.supervisor_program}}]
command={{item.supervisor_command}}
process_name=%(program_name)s
numprocs={{item.supervisor_numprocs|default(1)}}
directory={{item.supervisor_directory|default('/tmp')}}
umask={{item.supervisor_umask|default('022')}}
priority={{item.supervisor_priority|default('999')}}
autostart={{item.supervisor_autostart|default('true')}}
autorestart={{item.supervisor_autorestart|default('true')}}
startsecs={{item.supervisor_startsecs|default('10')}}
startretries={{item.supervisor_startretries|default('3')}}
exitcodes={{item.supervisor_exitcodes|default('0,2')}}
stopsignal={{item.supervisor_stopsignal|default('TERM')}}
stopwaitsecs={{item.supervisor_stopwaitsecs|default('10')}}
stopasgroup={{item.supervisor_stopasgroup|default('false')}}
killasgroup={{item.supervisor_killasgroup|default('false')}}
user={{item.supervisor_user|default('root')}}
redirect_stderr={{item.supervisor_redirect_stderr|default('false')}}
stdout_logfile={{item.supervisor_stdout_logfile |default('/var/log/supervisor/stdout.log') }}
stdout_logfile_maxbytes={{item.supervisor_stdout_logfile_maxbytes|default('25MB')}}
stdout_logfile_backups={{item.supervisor_stdout_logfile_backups|default('10')}}
stdout_capture_maxbytes={{item.supervisor_stdout_capture_maxbytes|default('5MB')}}
stderr_logfile={{item.supervisor_stderr_logfile|default('/var/log/supervisor/stderr.log')}}
stderr_logfile_maxbytes={{item.supervisor_stderr_logfile_maxbytes|default('25MB')}}
stderr_logfile_backups={{item.supervisor_stderr_logfile_backups|default('10')}}
stderr_capture_maxbytes={{item.supervisor_stderr_capture_maxbytes|default('5MB')}}
serverurl=AUTO
{% if item.supervisor_options is defined %}{% for key, value in item.supervisor_options.iteritems() %}
{{key}}={{value}}
{% endfor %}{% endif %}
{% if item.supervisor_environment is defined %}environment={%- for key, value in item.supervisor_environment.iteritems() -%}
{{key}}="{{value}}"{%- if loop.revindex0 > 0 -%},{%- endif -%}
{% endfor %}{% endif %}
